[submodule "ivi-42.github.io"]
	path = ivi-42.github.io
	url = https://github.com/ivi-42/ivi-42.github.io.git
[submodule "public"]
	path = public
	url = https://github.com/ivi-42/ivi-42.github.io.git
